body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: hsl(30, 18%, 87%);
  font-family: Young Serif, arial;
}

p {
  font-family: outfit, arial;
  font-size: 12px;
  line-height: 20px;
}

.preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 22px;
  font-family: outfit, arial;
}

h4 {
  font-family: outfit, arial;
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: hsl(332, 51%, 32%);
}

ul {
  padding: 22px;
  margin: 0;
}

li {
  font-family: outfit, arial;
  line-height: 1.6;
  font-size: 12px;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  width: 500px;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.omelette-image {
  width: 500px;
  border-radius: 10px;
}

h3 {
  /* font-family: outfit, arial; */
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: hsl(14, 45%, 36%);
}

.instruction-wrap {
  border-top: 1px solid hsl(30, 18%, 87%);
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.instructions-section {
  padding: 5px;
  margin: 0;
  counter-reset: list-counter;
  list-style: none;

  li::before {
    counter-increment: list-counter;
    content: counter(list-counter) ". ";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 8px;
  font-family: output, Arial;
}

td:last-child {
  color: hsl(14, 45%, 36%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 25rem) {
  body {
    padding: 2rem;
  }

  .container {
    margin: 8% 0;
    max-width: 40rem;
    padding: 2rem;
    border-radius: 2rem;
  }

  section {
    padding: 1.5rem 0;
  }

  .omelette-image {
    border-radius: 1rem;
  }
}
